/* You can add global styles to this file, and also import other style files */
*::before,
*,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif !important;
  padding: 0;
  margin: 0;
}

a:hover {
  color: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif !important;
}

.material-icons {
  font-family: "Material Icons" !important;
}

.calendar-edit {
  display: inline-block;
  margin-right: 5px;
}
