.navbar {
  display: flex;
  justify-content: space-between;
}

.brand {
  font-size: 22px;
  font-weight: 600;
}

.btn-group {
  display: flex;
  gap: 16px;
}

.nav-button {
  font-size: 16px;
  font-weight: 600;
}
