<section>
  <div class="task-list">
    <div>
      <form>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Ex. pastries at 9" />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Task Description</mat-label>
          <textarea matInput placeholder="Task Description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Start date</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div style="text-align: right">
          <button mat-raised-button color="primary">Add Task</button>
        </div>
      </form>
    </div>
  </div>
</section>
